.text-red {
    color: red;
}

.center {
    display: block;
    text-align: center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.yellow {
    background-color: yellow;
}

span {
    display: inline;
}