<h1 [class.text-red]="bool">Angular app</h1>
<h1 [style.color]="bool ? 'red' : 'blue'">Style Binding</h1>

<!-- event binding -->
<button (click)="buttonClick()">click me</button>

<!-- two way data binding -->
<!-- <input type="text" (keyup.enter)="onKeyup(username.value)" #username> -->

<input type="text" [(ngModel)]="userName" (keyup.enter)="onKeyup()">

<!-- one way vs two way data binding -->
<input type="text" [value]="textValue" (keyup.enter)="onKeyup()">

<input type="text" [(ngModel)]="textValue" (keyup.enter)="onKeyup()">

