<div class="center">
    <h3>Post Form</h3>
    <p>
        <input type="text" [(ngModel)]="postTitle" [value]="postTitle" placeholder="Post title">
    </p>
    <p>
        <textarea cols="30" rows="10" [(ngModel)]="postDetail" [value]="postDetail"
            placeholder="Post detail"></textarea>
    </p>
    <p>
        <input type="text" [(ngModel)]="imgDetail" [value]="imgDetail" placeholder="Image detail">
    </p>
    <p>
        <input type="text" [value]="linkDetail" [(ngModel)]="linkDetail" (keyup)="onKeyup($event)"
            placeholder="Link detail">
    </p>
    <p>
        <input type="checkbox" [(ngModel)]="isChecked"><span> Add Background</span>
    </p>
</div>

<!-- result -->
<div class="center">
    <h3><span [class.yellow]="isChecked">{{ postTitle }}</span></h3>
    <p>{{ postDetail }}</p>
    <img [src]="imgDetail">
    <a [class.hide]="!isInput" [href]="linkDetail" target="_blank">More info</a>
</div>