<div class="main-form">
    <h1>User Details</h1>
    <input type="text" placeholder="#" [(ngModel)]="user.serial">
    <br><br>
    <input type="text" placeholder="Name" [(ngModel)]="user.name">
    <br><br>
    <input type="email" placeholder="Email" [(ngModel)]="user.email">
    <br><br>
    <input type="text" placeholder="Address" [(ngModel)]="user.address">
    <br><br>
    <button type="submit" (click)="submit()">Submit</button>

    <table>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>{{ userSerial }}</td>
            <td>{{ userName }}</td>
            <td>{{ userEmail }}</td>
            <td>{{ userAddress }}</td>
            <td><button>Delete</button></td>
        </tr>        
    </table>
    <br><br>
</div>